*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color:black;
}

ul{
  display: flex;
}

li{
  flex-grow: 1;
  list-style: none;
}


a{
  color:aliceblue;
  display: block;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
}

a:hover{
  color: chartreuse;
}

section{
  text-align: center;
  padding: 30px;
}

.active{
  border-bottom-color: chartreuse;
}

